# Environment
NODE_ENV=development

# Server
PORT=3400
HOST=0.0.0.0

# MongoDB Atlas
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/health-monitor?retryWrites=true&w=majority

# Check Interval (milliseconds)
# Default: 300000 (5 minutes)
CHECK_INTERVAL=300000

# Logging
LOG_LEVEL=debug

# Swagger UI
SHOW_SWAGGER_UI=true
